<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../components/header") %>
</head>
<body>
    <div class="header">
        <h1><span style="font-weight: 300;">Game Code: </span><%= gameID %></h1>
    </div>
</body>
</html>