.header{
    top: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: rgb(70, 185, 70);
    margin: 0;
    padding-top: 10px;
    left: 0;
}

body{
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    font-size: 3rem;
}