<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="create.js" defer></script>
    <link rel="stylesheet" href="../../global/global.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <ul>
            <div class="settings">
                <li><label for="">Max Players: </label><input id="players" pattern="number" type="number"></li>
                <li><label for="">Game Time:</label> <div class="together"><input id="time" pattern="number" type="number">minutes</div></li>
            </div>
            <button id="submit">Submit</button>
        </ul>
        <a href="../" class="backLink">
         <h2>&lt Cancel</h2>
        </a>
</body>
</html>