
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="create.js" defer></script>
    <link rel="stylesheet" href="../../global/global.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
        
        <div class="settings">
            <ul>
                <li><h2 for="">Max Players: </h2><div class="together"><input id="players" pattern="number" type="number"></div></li>
                <li><h2 for="">Game Time:</h2> <div class="together"><input id="time" pattern="number" type="number" placeholder="Minutes"></div></li>
                <li><h2 for="">Squares:</h2> <div class="together"><input id="squares" pattern="number" type="number"></div></li>

            </ul>
            <button id="submit">Submit</button>
        </div>
            
        
        <a href="../" class="backLink">
         <h2>&lt Cancel</h2>
        </a>
</body>
</html>