ul{
    list-style-type: none;
    width: 500px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.138);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body{
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

label{
    font-size: 2rem;
    margin-bottom: 10px;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
}

input{
    padding: 5px 10px;
    font-size: 1.5rem;
    width: 200px;
    margin: 0px;
    border: none;
    border-radius: 10px;
}

button{
    width: 100%;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 10px;

}

.together{
    display: flex;
    gap: 10px;
    align-items: center;
}

.settings{

}

