ul{
    list-style-type: none;
    list-style-position:inside;
    transform: translateX(-1em);
}

body{
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h2{
    font-size: 2rem;
    margin-bottom: 10px;
    padding-bottom:20px;
    width: 200px;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
}

input{
    padding: 5px 10px;
    font-size: 1.5rem;
    margin-left: 15px;
    border: none;
    width: 100px;
    border-radius: 10px;
    flex:1;
}

button{
    width: 100%;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 10px;

}

.together{
    display: flex;
    width: 400px;
    gap: 10px;
    align-items: center;
}

.settings{
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

